.labsBlock{
    display: flex;
    justify-content: space-around;
}

.labBlock{
    width: 20vw;
    height: 30vh;
    border-radius: 1vw;
    list-style: none;
    border: 1px solid #888888;
}
.labBlock a{
    text-decoration: none;
    color: black;
}
.labBlock:hover{
    opacity: 0.6;
}
.labBlock p{
    margin: 2vh 1vh;
    font-weight: bold;
}
.labImg{
    width: 100%;
    height: 80%;
}
.labImg:nth-child(1){
    background: url(assets/256893352_4649246145136227_8756954835593250977_n.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}