
html, body {
  position: relative;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ruler{
  position: absolute;
  opacity: 0.9;
  left: 2.2%; 
  bottom: 2.8%;
  width: 60vw;
  height: 10vh;
  background: url(../assets/ruler.jpg) no-repeat;
  background-size: contain;
}

.taskChoose{
  display: flex;
  width: 30vw;
  height: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  margin: 0 10vw;
  color: black;
}
.taskChoose:hover{
  opacity: 0.5;
}
.rotateBook{
  position: absolute;
  top: 8vh;

  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.rotateBook:hover,
.rotateBook:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.rotateBook:hover {
  transform: translateY(-1px);
}